body {
    text-align: center;
}

.scoreboard {
    max-width: 505px;
    margin: 0 auto;
    border: 1px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
}

.congratulations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 0;
    background-color: lightblue;
    color: darkblue;
    transition: all 0.5s ease;
    z-index: 1;
}

.show-congratulations {
    height: 100%;
    opacity: 1;
}

.level {
    
}

.points {

}

.hide {
    display: none;
}